<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>University of Shire</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/resources/images/shire_logo.svg" alt="" width="120" height="120" class="d-inline-block align-text-top" > </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main">
    <div class="h1-wrapper px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2>Schedule</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <div class="table-wrapper table-responsive">
                <table class="table schedule-table table-striped table-bordered">
                    <thead  class="thead-light" >
                    <th scope="col">Day</th>
                    <th scope="col">#</th>
                    <div th:each="group : ${groups}">
                        <th scope="col " th:text="${group.name}">Group1</th>
                    </div>
                    </thead>
                    <div th:each="lessonsOfDay, stat : ${schedule}">
                        <tbody>
                        <td class="table-day" rowspan="7" scope="row" th:text="${dayOfWeek[stat.index]}">Day of week
                        </td>
                        <div th:each="lessonsOfTime, stat : ${lessonsOfDay}">
                            <tr>
                                <td th:text="${stat.index + 1}">1</td>
                                <div th:each="lesson, stat : ${lessonsOfTime.value}">
                                    <td><a th:href="@{/lesson/{id}(id=${lesson.getId()})}"
                                           th:text="${lesson.course.name}">Course</a></td>
                                </div>
                            </tr>
                        </div>
                        </tbody>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: University
    </div>
</footer>
</body>
</html>